# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# Datos y Binarios
Dataset.zip
garbage_classification/
garbage_classification_5/
garbage_classification_1200/
garbage_classification_15000_stratified/
src/garbage_classification/
temp/
prueba_final_5.tar.gz
prueba_final.tgz

# Python (opcional pero recomendado)
__pycache__/
*.py[cod]

# Archivos de datos pesados
*.tar.gz
*.tgz
*.zip
*.rec
*.idxgit rm --cached -r .

.github/
PROJECT_SUMMARY.md